<launch>
	# params
	<arg name="name" default="kendama"/>
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>

	# load the chain xacro
	<arg name="chain_xacro" default="$(find cup_and_ball)/urdf/chain.urdf.xacro"/>
	<param name="chain_description" command="$(find xacro)/xacro --inorder '$(arg chain_xacro)'"/>

	# put chain into gazebo
	<node name="spawn_chain" pkg="gazebo_ros" type="spawn_model"
	args="-param chain_description
		-urdf
		-x $(arg x)
		-y $(arg y)
		-z $(arg z)
		-model $(arg name)"
   respawn="false" output="screen">
  </node>
</launch>