<launch>
	# params
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>
	<arg name="ball_z" default="1"/>
	<arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="0"/>
	<arg name="launch_gz" default="false"/>

	<group if="$(arg launch_gz)">
		<arg name="gazebo_world_file" default="worlds/empty.world"/>
		<arg name="extra_gazebo_args" default=""/>
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(arg gazebo_world_file)"/> 
			<arg name="paused" value="true"/>
			<arg name="verbose" value="false"/>
			<arg name="use_sim_time" value="true"/>
			<arg name="gui" value="true"/>
			<arg name="headless" value="false"/>
			<arg name="debug" value="false"/>
			<arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
			<!-- <arg name="physics" value="bullet" /> -->
		</include>
	</group>

	# load the ball xacro
	<arg name="ball_xacro" default="$(find cup_and_ball)/urdf/ball.urdf.xacro"/>
	<param name="ball_description" command="$(find xacro)/xacro --inorder '$(arg ball_xacro)'"/>

	# put ball into gazebo
	<node name="spawn_ball" pkg="gazebo_ros" type="spawn_model"
	args="-param ball_description
		-urdf
		-x $(arg x)
		-y $(arg y)
		-z $(arg ball_z)
		-model ball"
   respawn="false" output="screen">
	</node>

   # load the cup xacro
	<arg name="cup_xacro" default="$(find cup_and_ball)/urdf/cup.urdf.xacro"/>
	<param name="cup_description" command="$(find xacro)/xacro --inorder '$(arg cup_xacro)'"/>

	# put cup into gazebo
	<node name="cup_ball" pkg="gazebo_ros" type="spawn_model"
	args="-param cup_description
		-urdf
		-x $(arg x)
		-y $(arg y)
		-z $(arg z)
		-R $(arg roll)
		-P $(arg pitch)
		-Y $(arg yaw)
		-model cup"
   respawn="false" output="screen">

  </node>
</launch>